<div class="home">
  <div class="cours">
    <div class="text">
      <h1 class="textt">Commencer votre cours</h1>
    </div>
  </div>
  <div class="content">
    <div class="float-child">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Réseau 2</mat-card-title>
          <mat-card-subtitle>flen ben flen</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="/assets/reseau.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            Un réseau informatique est un ensemble d'équipements reliés entre
            eux pour organiser...
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </p></mat-card-content
        >
      </mat-card>
    </div>
    <div class="float-child">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header"></div>
          <mat-card-title>Développement Web</mat-card-title>
          <mat-card-subtitle>flen ben flen</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="/assets/webdev.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            Les développeurs Web peuvent travailler dans différents types
            d'organisations, autrement ....
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </p></mat-card-content
        >
      </mat-card>
    </div>
    <div class="float-child">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header"></div>
          <mat-card-title>Communication</mat-card-title>
          <mat-card-subtitle>flen ben flen</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="/assets/communication.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            Les développeurs Web peuvent travailler dans différents types
            d'organisations, ....
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </p></mat-card-content
        >
      </mat-card>
    </div>
    <div class="float-child">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header"></div>
          <mat-card-title>Algorithme</mat-card-title>
          <mat-card-subtitle>flen ben flen</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="/assets/algorithme.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            Les développeurs Web peuvent travailler dans différents types
            d'organisations, ....
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </p></mat-card-content
        >
      </mat-card>
    </div>
  </div>
</div>
