.container{
    position: fixed; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
   }
   .text{
       text-align: center;
       border: cornsilk;
       border-radius: 4rem;
   }
  
  
  .mat-card {
    width: 30%;
    margin: 5% auto;
    border-radius: 8px;
  }
  .mat-form-field, mat-checkbox {
    width: 80%;
    display: block;
    margin: auto;
  }
  .mat-card-content {
    margin-top: 20px;
  }
  
  .login-button {
    margin-top: 20px;
    display: block;
    width: 80%;
    margin: 20px auto;
  }
  .errorClass {
    width: 80%;
    margin: auto;
  }